.carrinho-container {
    padding: 40px 10vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.titulo {
    padding: 40px 10vw 0px;
}
.carrinho-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f2c785;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    border: 1px solid #c6a36e;
}
.left-carrinho-item {
    display: flex;
    align-items: center;
    gap: 60px;
    width: 100%;
}

.left-carrinho-item h2 {
    margin-bottom: 16px;
}
.quantidade .alterar {
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #7c6644;
    cursor: pointer;

    font-weight: bold;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantidade .alterar:hover {
    background-color: #f7f7f7;
}

.quantidade {
    font-size: 20px;
    display: flex;
    gap: 8px;
}

.quantidade p {
    width: 23px;
    text-align: center;
}

.carrinho-item button img {
    width: 90%;
}

.lixo_button {
    display: flex;
    padding: 0.25rem;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #7c6644;
    border-radius: 8px;
    color: red;
    background-color: white;
    transition:
        background-color 0.25s,
        color 0.25s;
}
.lixo_button:hover {
    background-color: red;
    color: white;
}

.lixo_button:hover .lixo_hover {
    opacity: 1;
}

.checkout {
    /* padding: 0px 10vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.preco-checkout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.preco-total-checkout {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: bold;
}

.linha {
    border: 1px solid #592b02;
    width: 100%;
    margin-bottom: 20px;
}

.checkout a {
    width: 100%;
}

#finalizar {
    background-color: #592b02;
    cursor: pointer;
    color: white;
    padding: 16px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    border: none;
}
.carrinho-item__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
