.container-formulario {
    margin: 90px;
    justify-self: center;
    --text-primary: var(--background-secondary);
}
label {
    margin-top: 10px;
}
.grupo-formulario {
    padding: 5px;
    border-radius: 4px;
}

.grupo-formulario h2 {
    color: var(--text-primary);
    margin-bottom: 15px;
    font-size: 42px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 16px;
}

.grid-entrega-topo {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: 25px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    color: var(--card-text-color);
    margin-bottom: 12px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.campo input {
    color: var(--text-primary);
    height: 65px;
    padding: 0 10px;
    font-size: 22px;
    border: 1px solid var(--text-primary);
    background-color: transparent;
    outline: none;
}

.campo select {
    height: 65px;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid var(--text-primary);
    background-color: transparent;
    outline: none;
    color: var(--text-primary);
}

.campo textarea {
    min-height: 180px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid var(--text-primary);
    background-color: transparent;
    resize: vertical;
    outline: none;
    font-family: inherit;
}

::placeholder {
    color: var(--text-primary);
    opacity: 0.3;
}
/* RESPONSIVO */
@media (max-width: 768px) {
    .grid-2,
    .grid-entrega-topo {
        grid-template-columns: 1fr;
    }
}
