.flavors {
  background-color: #592b02;
  color: #e9e5dd;
  padding: 40px 5vw;
  /* padding-top: 70px;
  padding-left: 135px;
  padding-right: 135px; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flavors h1 {
  font-size: 50px;
}
.flavors .row {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, calc(50% - 10px)), 1fr));
  gap: 20px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #dcd5c6;
  color: #bf8431;
  padding: 16px;
  border-radius: 16px;
}

.card img {
  width: 100%;
  border-radius: 16px;
}
.card h1 {
  font-size: 28px;
  margin-bottom: 6px;
}
.card h2 {
  font-size: 20px;
  margin-bottom: 14px;
}
.card button {
  background-color: #bf8431;
  color: #ffffff;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}
