.footer {
  margin-top: 120px;
  background-color: var(--card-text-color);
}

.container-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 10vw;
}

.container-grid h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--background-secondary);
}

.container-grid li,
.container-grid a {
  margin-bottom: 4px;
  color: #000;
}

.logo-footer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
