header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ab5c17;
  padding: 6px 45px;
}
header .logo {
  height: 80px;
  border-radius: 50%;
}
header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  color: #e9e5dd;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
<<<<<<< HEAD

.icon-group{
  display: flex;
  gap: 20px;
}

=======
>>>>>>> 04865065bd0bf1d390fa98aa2ed3da5280cdfe29
.icon {
  height: 30px;
}

.spantes {
  display: none;
}
