header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-nav);
  padding: 6px 45px;
}
header .logo {
  height: 80px;
  border-radius: 50%;
}
header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  /*AINDA NÃO DECIDIDO COR PARA TIPOGRAFIAS*/
  color: var(--background-primary);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.icon-group {
  display: flex;
  gap: 15px;
}
.icon {
  height: 30px;
}

.spantes {
  display: none;
}
