.intro {
  /* margin: 80px 30vw 140px 30vw; */
  padding: 40px 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Eagle Lake', serif;
  gap: 50px;
}

.font-contrast {
  font-family: 'Rye', serif;
  font-weight: 400;
  font-style: normal;
}

.intro nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 330px;
  line-height: 57px;
}
.intro nav .medium {
  font-size: 57px;
}
.intro nav .small {
  font-size: 40px;
}
.intro nav .big {
  font-size: 90px;
}

.banner {
  width: 70%;
  max-width: 400px;
}
