.flavors-lightbg {
    background-color: #f9f6cc;
    color: black;
}

.card-lightbg {
    background-color: #bf8431;
    color: blanchedalmond;
}
.card-lightbg button {
    background-color: blanchedalmond;
    color: #bf8431;
}
